# Node modules (install container ke andar)
node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables (secret)
.env

# Git files
.git
.gitignore

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
